.headerImg{
    width: 100%;
}

body{
    background-color: rgb(223, 223, 223);
}

.custom-nav .nav-link{
    color: black;
}

.resume-section{
    background-color: white;
}

.resume-skills{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}


#Projects{
    background-color: white;
    margin: 3%;
    padding: 1%;
}
.projects-desc{
    text-align: center;

}

.projects-desc > h2{
    font-weight: bold;
}

.projects-desc > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

.bi{
    margin: 10px;
}

.bg-light{
    border-radius: 50%;
}

h1{
    position: absolute;
    left: 40%;
    top: 10%;
    background-color: aliceblue;
    padding: 1rem;
    opacity: .8;
    border-radius: 25%;
}

@media  (max-width:1000px){
    #Resume{
        display: flex;
        text-align: center;
    }

    .resume-button{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    h1{
        position: relative;
        left: 0%;
        top: 0%;
        background-color: none;
        padding: 0;
    }
}
